body {
    background-image: url('Lamborghini.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center 52%;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    position: relative; 
}

.button-container {
    position: fixed; 
    bottom: 20px; 
    width: 100%; 
    display: flex;
    justify-content: space-between; 
    padding: 0 20px; 
    box-sizing: border-box; 
}

.instagram-link, .custom-button {
    padding: 1em 2em;
    background: transparent;
    color: black;
    text-decoration: none;
    font-weight: bold;
    border: 1px solid black;
    box-shadow: 0 0 0 0 black;
    border-radius: 200px;
    transition: transform 0.3s, box-shadow 0.3s;
    font-size: 17px;
    cursor: pointer;
}

.instagram-link:hover, .custom-button:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.instagram-link:active, .custom-button:active {
    transform: translateY(0);
}
